<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Database" connectionString="data source=finalprojectservergroup09.database.windows.net;initial catalog=FinalProjectDatabaseGroup09;persist security info=True;user id=Group09Admin;pooling=False;multipleactiveresultsets=False;connect timeout=60;trustservercertificate=False;application name=&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer&quot;" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ProjectTeam09.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StudentDirectory" connectionString="data source=finalprojectservergroup09.database.windows.net;initial catalog=FinalProjectDatabaseGroup09;user id=Group09Admin;password=CSIS3155!;connect timeout=60;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StudentDirectoryGrades" connectionString="data source=finalprojectservergroup09.database.windows.net;initial catalog=FinalProjectDatabaseGroup09;persist security info=True;user id=Group09Admin;password=CSIS3155!;connect timeout=60;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>